<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie7 old-ie">
<![endif]-->
<!--[if IE 8]>
<html class="old-ie">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--[if lte  IE 7]>
    <script src="./common/scripts/json3.min.js"></script>
    <![endif]-->
    <!--[if IE 6]>
    <style>
        body {behavior: url("./common/css/csshover.htc");}
    </style>
    <script src="./common/scripts/DDPngMin.js"></script>
    <script>
        DD_belatedPNG.fix('.ads-arrow, .label-prompt .jd-logo');
    </script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="./css/ads-image-4836aa1860.css" />
    <!--<link rel="stylesheet" type="text/css" href="./css/float-egg-8e3a97519d.css" />-->
</head>

<body>
    <div id="header" class="header"></div>
    <div class="container">
        <div class="item-info clear">
            <div class="detail-left clear">
                <div class="item-image">
                    <a class="img-link" href="javascript:;">
                        <img class="image" src="./common/images/noimage.jpg" alt='no image'>
                    </a>
                    <a class="item-image-title" href="javascript:;"></a>
                </div>
                <div class="item-content">
                    <a class="item-title" href="javascript:;"></a>
                    <div class="item-bottom">
                        <a class="item-btn-link" id="direct-link" href="javascript:;">直达链接 ></a>
                    </div>
                    <div class="item-relative clear">
                        <div class="relative-pn">
                            <p>相似推荐<span class="ads-arrow">广告</span></p>
                        </div>
                        <ul class="item-relative-container">
                            <li class="relative-li">
                                <a class="relative-a" href="javascript:;">
                                    <img class="relative-image img-loading" src="" alt>
                                    <div class="relative-description">
                                        <div class="relative-desc-text"></div>
                                    </div>
                                </a>
                            </li>
                            <li class="relative-li">
                                <a class="relative-a" href="javascript:;">
                                    <img class="relative-image img-loading" src="" alt>
                                    <div class="relative-description">
                                        <div class="relative-desc-text"></div>
                                    </div>
                                </a>
                            </li>
                            <li class="relative-li">
                                <a class="relative-a" href="javascript:;">
                                    <img class="relative-image img-loading" src="" alt>
                                    <div class="relative-description">
                                        <div class="relative-desc-text"></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="detail-right">
                <div class="detail-r-title">
                    <s></s>
                    <p>好货推荐<span class="ads-arrow">广告</span></p>
                </div>
                <div class="detail-r-content">
                    <ul class="detail-container">
                        <li class="rec rec1 m-r-16 m-b-16">
                            <a class="rec-link" href="javascript:;">
                                <img class="rec-image img-loading" src="" alt>
                                <div class="rec-text"></div>
                            </a>
                        </li>
                        <li class="rec rec2 m-b-16">
                            <a class="rec-link" href="javascript:;">
                                <img class="rec-image img-loading" src="" alt>
                                <div class="rec-text"></div>
                            </a>
                        </li>
                        <li class="rec rec3 m-r-16">
                            <a class="rec-link" href="javascript:;">
                                <img class="rec-image img-loading" src="" alt>
                                <div class="rec-text"></div>
                            </a>
                        </li>
                        <li class="rec rec4">
                            <a class="rec-link" href="javascript:;">
                                <img class="rec-image img-loading" src="" alt>
                                <div class="rec-text"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="wrapper">
            <div class="guess-list">
                <div class="guess-label">
                    <div class="guess-l-icon"></div>
                    <div class="guess-l-text">猜你喜欢</div>
                </div>
            </div>
            <div class="goods-scrolload pro-cont">
                <div class="pro-body clear">
                    <script id="pro-list-temp" type="text/x-jquery-tmpl">
                        <li class="gue" data-id="${id}" >
                            <a class="gue-link" target="_blank" href="${curl}" data-ads="${isAds}"  data-clktk="${clktk}">
                                <img class="gue-image img-loading"  src=""  data-src="${img}"  data-imptk="${imptk}"   data-imparg="${imparg}"   data-original="${img}">
                                <div class="gue-text-cont">
                                    <div class="gue-text">
                                        {{if isNaN(price) && price && -1 != price.indexOf('京东')}}
                                                <img class="jd-logo" src="./common/images/jd_logo.png" />
                                        {{else isNaN(price) && price && -1 != price.indexOf('天猫')}}
                                                <img class="tmao-logo" src="./common/images/tmao.png" />
                                        {{else}}
                                                <span class="gue-current">
                                                ￥<span class="gue-r-price">${price}</span>
                                                {{if typeof oprice!=='undefined' && oprice!=0}}
                                                <span class="gue-r-oprice">￥${oprice}</span>
                                                {{/if}}
                                                </span>
                                        {{/if}}
                                    </div>
                                    <div class="gue-sales">
                                    </div>
                                </div>
                                <div class="gue-description">
                                    <div class="gue-desc-text" title="${desc}">
                                        ${desc}
                                    </div>
                                </div>
                                <p id="item-others-info" class="item-others">
                                    {{if typeof isAds=='undefined' || isAds!==true}}
                                        <span class="item-saled">已售${u_volume}</span>
                                        <span class="places">
                                            <span class="province">${u_address}</span>
                                        </span>
                                    {{else}}
                                        <span class="item-saled">特价优惠</span>
                                        <span class="ads-guess">
                                            <span class="province">猜你喜欢</span>
                                        </span>
                                    {{/if}}
                                </p>
                            </a>
                        </li>
                    </script>
                    <div class="status-loading" style="display: none;"><img src="./common/images/loading2.gif">拼命加载中...</div>
                    <ul id="proBox" class="pro-box"></ul>
                </div>
            </div>
            <div id="pagination"></div>
            <div class="category-wrapper"></div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright &copy; MediaV All Rights Reserved. 沪ICP备16037729号-1</p>
    </div>

    <script src="https://s.ssl.qhimg.com/!828b1db8/monitor.js"></script>
    <script type="text/javascript" src="./common/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="./common/scripts/jquery.xdomainrequest.min.js"></script>
    <script type="text/javascript" src="./common/scripts/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="./common/scripts/jquery.twbsPagination.min.js"></script>
    <script type="text/javascript" src="./common/scripts/ad-utility.js"></script>
    <script type="text/javascript" src="./js/tools-86649ce7a2.js"></script>
    <script type="text/javascript" src="./js/header-d08ccf830e.js"></script>
    <!-- build:js -->
    <script type="text/javascript" src="./js/ads-image-bb762de534.js"></script>
    <!-- endbuild -->

    <script type="text/javascript" src="//s.union.360.cn/170059.js" async defer></script>
</body>

</html>
